:root {
    --color-1: #360E8F;
    --color-2: #DB7A16;
    --color-3: #4400DB;
    --color-4: #16DB30;
    --color-5: #008F13;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-size: 1.2em;
}

.bi-reply {
    font-size: 1.3em;
}
a {
    text-decoration: none;
}
section div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 2em auto;
}

section div img,
section div video {
    width: 100%;
    height: 24vh;
}

video {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}


video::after {
    content: "\f149";
}

.none {
    display: none;
}

@media (max-width: 566px) {
  section div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 366px) {
    section div {
      grid-template-columns: repeat(2, 1fr);
    }
  }

