nav {
    height: 70px;
    width: 100vw;
    color: var(--color-1);
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 1px 1px 10px #00000050;
}
nav li {
    list-style: none;
    margin: 5px;
    border-radius: 5px
}

nav ul {
    display: flex;
    justify-content: end;
}

nav a {
    display: inline-block;
    color: var(--color-3);
    padding: .5em .8em;
}

nav li:hover {
    background-color: var(--color-3);
}

nav a:hover {
    color: white;
}

nav > div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-top: 0.3em;
    font-size: 1.5em;
}

nav > div > div div {
    font-size: 1.1em;
    margin-left: 0.2em;
    background-color: var(--color-1);
    color: white;
}

div#toggle span {
    margin-top: 0.1em;
    font-size: .9em;
}

header > div {
    font-size: 1.5em;
    z-index: 110;
    position: fixed;
    top: 1%;
    left: 2%;
    color: var(--color-1);
}

header > div span {
    display: inline-block;
    font-size: .9em;
    margin-left: -2px;
}