:root {
    --color-1: #360E8F;
    --color-2: #DB7A16;
    --color-3: #4400DB;
    --color-4: #16DB30;
    --color-5: #008F13;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: -8px;
    left: 0;
    z-index: 100;
}

header h2 {
    font-size: .8em;
    position: fixed;
    top: 0.7em;
    line-height: 1em;
}
section {
    scroll-margin-top: 75px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-1);
}

@media (max-width: 500px) {
    #table-price div:nth-child(1) span {
        font-size: .9em !important;
    }
    #entrada h2 span {
        text-align: center;
        display: block;
        font-size: .8em;
    }
}

#minor {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

#baner #minor {
    padding-top: 17%;
    background-color: var(--color-5);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#baner>div {
    display: flex;
    flex-direction: column;
}

#baner>div>div {
    padding-top: 20%;
    height: 100%;
    display: inline-block;
    margin: auto;
}

#minor>div {
    font-size: .5em;
}

#minor span {
    font-size: 2em;
}

#entarda {
    height: 50%;
    padding-top: 0;
    margin-left: 0;
    position: relative;
}

#entrada p {
    text-align: center;
    font-size: 1.2em;
    color: var(--color-5);
}

p#big {
    font-size: 2em;
}

#entrada p span {
    font-weight: 900;
}

#entrada h2 {
    color: var(--color-1);
    font-size: 1.4em;
}

#entrada div {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

#targeta {
    padding: 20px 0;
    background-color: var(--color-2);
    text-align: center;
    color: white
}

#targeta p {
    display: contents;
}

p span.bi-check-lg {
    margin: 3em;
    font-size: 1em;
}

#description {
    max-width: 1100px;
    display: flex;
}

#description p {
    margin: .5em;
}

#description>div:nth-child(1) {
    flex: 1.5;
}

#description>div:nth-child(2) {
    flex: 1;
    padding: 2em .5em;
}

#description>div>div {
    font-weight: bold;
    margin-left: 2.5em;
    margin-top: 1em;
}

#description div p span {
    margin: .5em;
}

#description img {
    width: 100%;
    height: 100%;
}

#description h3 {
    margin-left: 1em;
    font-size: 1.8em;
    margin-top: 1em;
}

#price {
    margin: auto 0.3em;
    margin-top: 3em;
    margin-bottom: 4.5em;
}

#price h2 {
    text-shadow: 1px 1px 10px #00000030;
    text-align: center;
    margin: .5em auto;
}

select {
    padding: .2em;
    font-size: 1em;
}

#table-price {
    border-left: 1px solid;
    border-bottom: 1px solid;
    margin: auto 0.3em;
}

#table-price div:nth-child(1) span {
    color: var(--color-1);
    font-size: 1.2em;
}

.table-row span {
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-price div:nth-child(odd) {
    background-color: #b4adad48
}

#table-price  div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

#table-price span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border: 1px solid black;
    border-bottom: none;
    border-left: none;
}

#table-price sup {
    margin-bottom: 10px;
}

#gallery {
    margin: 0 0.3em;
    max-width: 1100px;
    margin-bottom: 4em;
}

#gallery h3 {
    font-size: 2em;
    margin-top: 2em;
    text-align: center;
}

#gallery img {
    height: 24vw;
    width: 100%;
}



#gallery>div>div {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em auto;
}

#gallery>div>span {
    width: 100vw;
    display: block;
    text-align: center;
}

#gallery .flex {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery .flex span {
    font-size: 1.2em;
}

section#contact {
    box-shadow: 0px 1px 5px #000000a3;
    background-image: url("gallery/pexels-anton-4132538.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 3em;
}

section#contact p,
section#contact h3 {
    display: block;
    font-size: 1.2em;
    margin: .3em auto;
    color: var(--color-5);
    font-weight: bold;
}

section#contact>div {
    color: var(--color-1);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

section#contact>div>div {
    padding-top: 2em;
    height: 100%;
}

section#contact #phone {
    font-size: 1.6em;
    margin: 1em auto;
    color: var(--color-1);
}

div#info-contact {
    margin-top: 2em;
}

section#contact>div p.info-contact {
    font-size: 1em;
}

#location {
    margin-top: 4em;
    color: var(--color-1);
    background-image: url("gallery/serra.webp");
    background-size: cover;
}

#location>div {
    height: calc(100% - 3em);
    border: 2.5em solid #db7a16b5;
    border-top: 0;
    font-weight: bold;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#location>div>div {
    border-radius: 5px;
    background-color: #ffffffbf;
    padding: 1em;
    flex-direction: column;
}

#location>div>div p {
    font-size: 1.5em;
    margin-bottom: .3em;
}

#location>div>div a {
    color: var(--color-2);
}

#location h3 {
    padding: 0.3em 0;
    background-color: #db7a16b5;
    text-align: center;
    font-size: 1.8em;
}

section div img,
section div video {
    width: 100%;
    height: 24vh;
}

video {
    background-color: rgb(255 255 255 / 50%);
}

#sobre h1 {
    text-align: center;
    margin-bottom: 1em
}

#sobre p {
    text-align: justify;
    margin: 1em;
    line-height: 1.5em;
}

section#institucional {
    margin: 3.5em 1em 5em;
    color: var(--color-1);
}

section#institucional h2 {
    font-size: 1.2em;
    text-align: center;
}

section#institucional>div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}



section#institucional>div>div>div {
    text-align: center;
}

section#institucional #logo-venda i {
    font-size: 2em;
}

section#institucional #logo-venda p {
    margin: .6em 0;
}

section#institucional>div>div:nth-child(2) {
    padding: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section#institucional>div>div:nth-child(2) img {
    width: 100%;
    height: 100%;
}

section#institucional #logo-venda {
    flex-direction: column;
    line-height: 1.5em;
}

section#institucional #logo-venda div:nth-child(1) p {
    height: 175px;
    background-color: #cfceceb5;
    width: 190px;
    margin-top: 2em;
    font-weight: bold;
}

#sociais>div {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

#institucional i {
    color: var(--color-3);
}

#sociais i {
    color: var(--color-3);
}

footer {
    position: absolute;
    left: 0;
    width: 100vw;
    text-align: center;
    background-color: #414242;
    color: white;
    padding: .8em;
}

footer a {
    color: var(--color-2);
}

#top {
    transform: rotate(90deg);
    position: fixed;
    bottom: 38px;
    right: 10px;
    padding: 12px 15px;
    background-color: #0000008f;
    border-radius: 5px;
    font-size: 1.5em;
}

#top a {
    color: white;
}

#modal.modal-index {
    margin-top: 40px;
    height: 90vh;
}

.btn {
    padding: .5em .8em;
    background-color: var(--color-5);
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #05550f;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.none {
    display: none;
}

