:root {
    --color-1: #360E8F;
    --color-2: #DB7A16;
    --color-3: #4400DB;
    --color-4: #16DB30;
    --color-5: #008F13;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 3px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-1);
}

.btn {
    padding: .5em .8em;
    background-color: var(--color-5);
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #05550f;
}

.bold {
    font-weight: bold;
}

#minor {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

#baner #minor {
    padding-top: 17%;
    background-color: var(--color-5);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#baner>div {
    display: flex;
    flex-direction: column;

}

#baner>div>div {
    padding-top: 20%;
    height: 100%;
}

#baner>div>div {
    display: inline-block;
    margin: auto;
}

#minor>div {
    font-size: .5em;
}

#minor span {
    font-size: 2em;
}

#entarda {
    height: 50%;
    padding-top: 0;
    margin-left: 0;
    position: relative;
}

#entrada p {
    text-align: center;
    font-size: 1.2em;
    color: var(--color-5);
}

p#big {
    font-size: 2em;
}

#entrada p span {
    font-weight: 900;
}

#entrada h2 {
    color: var(--color-1);
    font-size: 2em;
}

#entrada div {
    position: absolute;
    bottom: 0px;
    right: 8%;
}

#targeta {
    padding: 20px 0;
    background-color: var(--color-2);
    text-align: center;
    color: white
}

#targeta p {
    display: contents;
}

p span.bi-check-lg {
    margin: 3em;
    font-size: 1em;
}

#description {
    display: flex;
}

#description p {
    margin: .5em;
}

#description>div:nth-child(1) {
    flex: 1.5;
}

#description>div:nth-child(2) {
    flex: 1;
    padding: 2em .5em;
}

#description>div>div {
    font-weight: bold;
    margin-left: 2.5em;
    margin-top: 1em;
}

#description div p span {
    margin: .5em;
}

#description img {
    width: 100%;
    height: 100%;
}

#description h3 {
    margin-left: 1em;
    font-size: 1.8em;
    margin-top: 1em;
}

#gallery h3 {
    font-size: 2em;
    margin-top: 2em;
    text-align: center;
}

#gallery img {
    height: 24vw;
    width: 100%;
}

#gallery {
    margin-bottom: 4em;
}

#gallery>div>div {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em auto;
}

#gallery>div>span {
    width: 100vw;
    display: block;
    text-align: center;
}

#gallery .flex {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery .flex span {
    font-size: 1.2em;
}

section#contact {
    background-image: url("gallery/pexels-anton-4132538.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 3em;
}

section#contact p,
section#contact h3 {
    display: block;
    font-size: 1.2em;
    margin: .3em auto;
    color: var(--color-5);
    font-weight: bold;
}

section#contact>div {
    color: var(--color-1);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

section#contact>div>div {
    padding-top: 2em;
    height: 100%;
}

section#contact #phone {
    font-size: 1.6em;
    margin: 1em auto;
    color: var(--color-1);
}

div#info-contact {
    margin-top: 2em;
}

section#contact>div p.info-contact {
    font-size: 1em;
}

#location {
    margin-top: 3em;
    background-image: url("gallery/1.jpg");
    height: 350px;
}

#location>div {
    height: calc(100% - 4.2em);
    border: 3em solid #db7a16b5;
    border-top: 0;
}

#location>div>div {
    color: transparent;
    height: 100%;
}

#location h3 {
    padding: .5em 0;
    background-color: #db7a16b5;
    text-align: center;
    font-size: 2em;
}

section div img,
section div video {
    width: 100%;
    height: 24vh;
}

video {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

video::after {
    content: "\f149";
}

.none {
    display: none;
}

#sobre h1 {
    text-align: center;
    margin-bottom: 1em
}

#sobre p {
    text-align: justify;
    margin: 1em;
}